nextflow.enable.dsl=1

params {
	
	reads = "../data/*_R{1,2}_*.fastq.gz"

	ref = "./genomes/Pf3D7_human.fa"

	refdir = "./genomes"

	outdir = "../results"

	multiqc = "../results/multiqc"

	conda_env = "./conda-env/"

	refbed = "./genomes"

}

/*
//	Process Config for Aragorn

process{
	
	executor = "local"

	queueSize = 1

}
*/


//	Wynton Specific Process Config

process {

	executor = "sge"

	scratch = true

	stageInMode = "copy"

	stageOutMode = "move"

	errorStrategy = "retry"

	clusterOptions = '-S /bin/bash -o job.log -e job.err'

}

executor {

	queueSize = 1000

}



// 	end Wynton specific process config

// keep trace
trace {

	enabled = true

	file = "${params.outdir}/trace.txt"

}

// keep report
report {

	enabled = true

	file = "${params.outdir}/report.html"

}
