
params {
	
	reads = "../data/*_R{1,2}_*.fastq.gz"

	ref = "./genome_ref/pf3D7_EPr1.fa"

	ref_hu = ?

	ref_pf3d7 = ? 

	outdir = "../results"

	multiqc = "../results/multiqc"

}


/*
//	Process Config for Aragorn

process{
	
	executor = "local"

	queueSize = 1

}
*/


//	Wynton Specific Process Config

process {

	executor = "sge"

	scratch = true

	stageInMode = "copy"

	stageOutMode = "move"

	errorStrategy = "retry"

	clusterOptions = '-S /bin/bash -o job.log -e job.err'

}

executor {

	queueSize = 1000

}

// 	end Wynton specific process config

// keep trace
trace {

	enabled = true

	file = "${params.outdir}/trace.txt"

}

// keep report
report {

	enabled = true

	file = "${params.outdir}/report.html"

}
